body {
    background-color: lightgreen;
    align-content: center;
    text-align: center;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 28px;
}

p {
    font-family: Georgia, serif;
    font-size: 18px;
}

ul {
    font-weight: bold;
    color: brown;
}

img {
    border: 3px dotted black;
    width: 100px;
    align-items: center;
}
